.blog-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    /* grid-template-rows: 200px 250px 1fr 150px; */
    grid-template-areas: 
    
    "hd"
    "img"
    "title"
    "content"
    "ft";
    grid-auto-rows: auto;
}

header {
  grid-area: hd;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.blog .content-wrapper {
  width: 90%;
}

.blog article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


.blog .blog-title {
  grid-area: title;
  text-align: center;
  width: 100%;
  color: #e0e0e0;
}

.blog .blog-content {
  grid-area: content;
  font-size: 1.25em;
  
}

aside {
  background-color:  #e0e0e0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

aside .content-wrapper {
  width: 90%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}


.author-contact {
  width: 70%;
  margin: 0;
}

.author-contact h5 {
  font-size: 1.125em;
  margin: 5px 0;
}

.author-contact p {
  /* margin: 0; */
}




footer {
  grid-area:ft;
}