.blog-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-areas:
    "hd"
    "content"
    "aside"
    "ft";
    grid-auto-rows: auto;
}

header {
  grid-area: hd;
}

.blog {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.blog .content-wrapper {
  width: 90%;
}

.blog article {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


.blog .blog-title {
  
  text-align: center;
  width: 100%;
  color: #e0e0e0;
}

.blog .blog-content {
  font-size: 1.25em;
}

.blog-content p span {
  text-decoration: underline;
}

aside {
  grid-area: aside;
  background-color:  #e0e0e0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

aside .content-wrapper {
  width: 90%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.author-contact {
  width: 70%;
  margin: 0;
}

.author-contact h3 {
  margin: 10px 0;
  text-align: center;
}

.author-contact p {
  text-align: center;
}

blockquote {
  border-left: 2px solid lightgrey;
}

blockquote p{
  margin: 0 30px;
  font-family: "Monserrat", sans-serif;
  font-weight: 200;
  font-size: 1.75em;
}

footer {
  grid-area: ft;
}

  