/* ====================== CARD STYLES ===================== */

.recent-posts .content-wrapper {
    width: 90%;
}

.cards-area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.recent-posts .cards-area .card {
    width: 80%;
    min-height: 400px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 20px;
}

.recent-posts .cards-area .card figure {
    width: 100%;
    margin: 0;
}

.recent-posts .card figure img {
    width: 100%;
}

.recent-posts .card a {
    text-decoration: none;
    color: #666;
}

.card .card-date {
    font-size: 1em;
    color: #c2c1c1;
}

.card .card-title {
    margin: 10px 0;
    font-size: 1.5em;
}

.card .blog-preview {
    font-size: 1.125em;
    margin: 10px 0;
}

.card .button #read-more {
    font-size: 1em;
}
