/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import "./blog-post.css";
@import "./image-styles.css";
@import "./card-styles.css";

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ===================== BASE STYLES ===================== */

body{
margin: 0;
font-size: 16px;
color: #666;
font-family: "Monserrat", sans-serif; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

/* HOMEPAGE GRID */

.main-grid{
  display: grid;
  width: 100%;
  grid-template-columns: 100%;
  grid-template-areas: 
  
  "hd"
  "hero"
  "blogs"
  "ft";
  grid-auto-rows: auto;
}


/* BUTTON STYLES*/

.button {
  font-family: "Monserrat", sans-serif;
  border: solid 1px #1e1e1e;
  border-radius: 16px;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  font-family: "Monserrat", sans-serif;
  border: none;
  border-radius: 16px;
  background-color: #1e1e1e;
  padding: 14px 28px;
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
}

.button a{
   text-decoration: none;
   color: #1e1e1e;
}

.button:hover a{
   text-decoration: none;
   color: #fffff8;
}



/* ===================== HEADER STYLES ===================== */

header {
  grid-area: hd;
  background-color: #6EB5C3;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  color: #fffff8;
}

header .content-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-flow: row wrap;
}

header .title {
  width: 100%;
  max-height: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul {
  width: 50%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul li {
  width: 50%;
  list-style: none;
  text-align: center;
}

header nav ul li a {
  text-decoration: none;
  font-size: 1.25em;
  color: #fffff8;
  font-family: "Monserrat", sans-serif;
  font-weight: 400;
}

/* ===================== HOMEPAGE: HERO STYLES ===================== */
.hero {
  grid-area: hero;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}


.hero h2 {
  margin: 0;
  color: #fffff8;
  text-transform: uppercase;
  text-shadow: 3px 3px 8px #1e1e1e;
  letter-spacing: .75em;
}

/* ===================== HOMEPAGE: RECENT POSTS STYLES ===================== */

.recent-posts {
  grid-area: blogs;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}
.recent-posts .content-wrapper {
  width: 90%;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

.recent-posts .content-wrapper .section-heading {
  width: 100%;
  margin: 0;
}
.recent-posts .section-heading h2 {
  margin: 0;
  text-align: center;
  color: #e0e0e0;
}

.recent-posts .cards-area {
  width: 100%;
}



/* ====================== FOOTER STYLES ======================== */

footer {
  grid-area: ft;
  background: #454A24;
  color: #fffff8;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
}

footer .content-wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.social-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  text-align: center;
}

.social-info .social-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-flow: row wrap;
  font-size: 1.5em;
  margin: 10px 0;
}

.social-info .social-links p {
  margin: 0;
}

footer .copyright {
  width: 100%;
  margin: 0 10px 10px;
}

.copyright h6 {
  margin: 0;
}

footer .content-wrapper .social-info h5 {
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px  0 ;
  letter-spacing: .25em;
}




   
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

  @media only screen and (min-width: 600px) {
    
    /* ================== homepage ====================== */

    /* header */

    header {
      height: 100px;
    }

    header .title {
      width: 50%;
      display: flex;
      justify-content: flex-start;
      align-content: center;
      flex-flow: row wrap;
    }
   
    header nav {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-content: center;
      flex-flow: row wrap;
    }

    header nav ul {
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-flow: row wrap;
    }


  /*  recents blogs  */

  .recent-posts .cards-area .card {
    width: 40%;
    margin: 20px 10px;
}

  /* cards */

  .card h3 {
      font-size: 1.125em;
  }

  .card .blog-preview  {
      font-size: 1em;
  }
  
    /* reordering so that the longer one comes last and doesnt mess up the view. 
    alternative could be to hid the button so that they are all the same height 
    but that leaves a bit of extra whitespace on some */
    
  #card2 {
    order: 3;
  }
   
     /* =======================  BLOG POST STYLES ========================= */

    /* content */

    .blog .blog-content {
      width: 70%;
    }
    
    /* aside: author info */

    aside figure img {
      width: 150px;
      height: 150px;
    }

    .author-contact {
      width: 60%;
      margin-left: 20px;
    }

    .author-contact h3 {
      text-align: left;
    }

    .author-contact p {
      text-align: left;
    }
  }

 @media only screen and (min-width: 900px) {

  /* ================== homepage ====================== */

    header {
      height: 60px;
    }

    /* hero area */

    .hero {
      height: 500px;
    }

    .hero h2 {
      font-size: 2.5em;
    }

    /* cards */

  .recent-posts .cards-area .card {
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  .recent-posts .cards-area .card figure {
    width: 50%;
    margin: 0;
  }

  .card .card-info {
    width: 40%;
  }

  footer {
    justify-content: flex-start;
  }

  footer .content-wrapper {
    justify-content: flex-start;
  }

  footer .content-wrapper .social-info{
    width: 50%;
    text-align: left;
    margin: 0 10px;
    justify-content: flex-start;
  }

  footer .social-info .social-links {
    width: 60%;
    font-size: 1em;
  }
  
  footer .content-wrapper .social-info h5 {
   font-size: .75em;
  }

  /* =======================  BLOG POST STYLES ========================= */

  .blog-grid {
    
    grid-template-areas: 
    "aside content content content content content content content"
    ;
  }

  
  /* content */
    .blog .content-wrapper {
      justify-content: center;
    }

    .blog .blog-content {
      width: 70%;
    }
    
    /* aside: author info */

    aside {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: column wrap;
      padding-top: 100px;
    }

    aside figure img {
      width: 100px;
      height: 100px;
    }

    .author-contact {
      width: 80%;
      margin: 0;
    }

    .author-contact h3 {
      text-align: left;
      font-size: smaller;
    }

    .author-contact p {
      text-align: left;
      font-size: smaller;
    }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    Black prints faster
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
    
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
} */

